{% extends "layout.html" %}
{% block content %}

<h3>Add Walk-In</h3>

<form method="POST">
<input name="first_name" required placeholder="First Name">
<input name="surname" required placeholder="Surname">
<input name="phone" placeholder="Phone">

<input name="make" placeholder="Make">
<input name="model" placeholder="Model">

<input name="service" placeholder="Service">

<textarea name="work" placeholder="Work"></textarea>

<select name="quote_declined">
<option value="No">No</option>
<option value="Yes">Yes</option>
</select>

<button>Save</button>
</form>

{% endblock %}
