{% extends "layout.html" %}
{% block content %}

<h2>Edit User</h2>

<form method="POST">

<input name="username" value="{{ user[1] }}" required>
<input name="password" value="{{ user[2] }}" required>

<input name="branch" value="{{ user[3] }}" required>

<select name="role">
<option value="staff" {% if user[4]=='staff' %}selected{% endif %}>Staff</option>
<option value="manager" {% if user[4]=='manager' %}selected{% endif %}>Manager</option>
<option value="admin" {% if user[4]=='admin' %}selected{% endif %}>Admin</option>
</select>

<input name="company" value="{{ user[5] }}" required>

<button>Update</button>

</form>

{% endblock %}