<!DOCTYPE html>
<html>
<head>
    <title>Meta Signup</title>
</head>
<body>

<button onclick="launchWhatsAppSignup()">
    Connect WhatsApp
</button>

<script>

window.fbAsyncInit = function() {

    FB.init({
        appId: "1549270700101851",
        autoLogAppEvents: true,
        xfbml: true,
        version: "v25.0"
    });

};

</script>

<script async defer crossorigin="anonymous"
src="https://connect.facebook.net/en_US/sdk.js">
</script>

<script>

let currentWabaId = null;
let currentPhoneId = null;

window.addEventListener("message", function(event) {
    console.log("Meta event received");
    console.log("Origin:", event.origin);
    console.log("Data:", event.data);

    if(event.origin !== "https://www.facebook.com")
        return;

    try {

        const data =
            typeof event.data === "string"
            ? JSON.parse(event.data)
            : event.data;

        if(data.waba_id)
            currentWabaId = data.waba_id;

        if(data.phone_number_id)
            currentPhoneId = data.phone_number_id;

    }
    catch(err) {
        console.error("Meta event parse failed:", err);
    }

});

function launchWhatsAppSignup() {
    
    console.log("=== META SIGNUP STARTED ===");

    FB.login(function(response) {
        console.log("FB Login response:", response);

        if(!response.authResponse) {
            console.error("No authResponse returned from Meta");
            return;
        }
        console.log("Received auth code:", response.authResponse.code);
        
            console.log("Sending callback to Flask");
        
        console.log({
            franchise_id: {{franchise.id}},
            code: response.authResponse.code,
            waba_id: currentWabaId,
            phone_number_id: currentPhoneId
    });
    fetch("/meta/v4/callback", {
        method: "POST",
        headers: {
        "Content-Type": "application/json",
        },
        body: JSON.stringify({
            franchise_id: {{franchise.id}},
            code: response.authResponse.code,
            waba_id: currentWabaId,
            phone_number_id: currentPhoneId
         })
})
        
    .then(r => {
            console.log("Flask HTTP status:", r.status);
            return r.json();
        })
        .then(data => {
            console.log("Flask response:", data);

            if(data.success) {
                window.location =
                    "/admin/franchises/{{ franchise.id }}/audit";
            }
        });

    }, {
        config_id: "1585425766261252",
        response_type: "code",
        override_default_response_type: true,
            version: "v4"
       });

}

</script>

</body>
</html>
